In [11]:
#Type Set, Struktur Pemilihan dan Pengulangan
import sys
def printElements(s, info):
    print(info)
    if len(s) == 0:
        print("Himpunan kosong\n")
        sys.exit(1)
        for e in s:
            print(str(e)+"", end = '')
        print("\n")

#membuat himpunan
s = set([11, 22, 33, 44, 55])
printElements(s, "Elemen awal:")

#menambah anggota/elemen baru
#menggunakan metode add()
s.add(66);
s.add(77);
printElements(s, "Setelah pemanggilan add():")

#menambah anggata/elemen baru
#menggunakan metode update()
s.update([88, 99])
printElements(s, "Setelah pemanggilan update():")

#menghapus elemen dengan nilai 44
s.remove(44)
printElements(s, "Setelah pemanggilan remove():")

#menghapus semua elemen
s.clear()
printElements(s, "Setelah penanggilan clear():")

Elemen awal:
Setelah pemanggilan add():
Setelah pemanggilan update():
Setelah pemanggilan remove():
Setelah penanggilan clear():
Himpunan kosong

SystemExit: 1

In [36]:
#type set mendukung operasi-operasi himpunan seperti:
x = set ([1, 2, 3])
y = set([3, 4])

a = x | y #union
print('Operasi Union:')
print(a)
b = x & y # intersection
print('Operasi intersection:')
print(b)
c = x - y
print ('Operasi difference:')
print(c)
d = x ^ y
print('Operasi symmetric difference:')
print(d)

Operasi Union:
{1, 2, 3, 4}
Operasi intersection:
{3}
Operasi difference:
{1, 2}
Operasi symmetric difference:
{1, 2, 4}

In [19]:
#frozenset tidak memiliki metode add()
fs= frozenset ([1, 2, 3])
print(fs)
fs.add(4)

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'add'

In [20]:
#frozenset tidak memiliki metode update()
fs= frozenset ([1, 2, 3])
print(fs)
fs.update(4, 5)

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'update'

In [21]:
#frozenset tidak memiliki metode remove()
fs= frozenset ([1, 2, 3])
print(fs)
fs.remove(3)

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'remove'

In [22]:
#frozenset tidak memiliki metode clear()
fs= frozenset ([1, 2, 3])
print(fs)
fs.clear()

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'clear'

In [35]:
#contoh :
versi = 3
str = 'Pemrograman Python'

if versi == 3:
    print(str + ' 3')
else:
    print(str)

Pemrograman Python 3

In [30]:
#contoh 
import sys
versi = sys.version
if versi [:1] == '3':
    print('Bahasa\t\t: Python 3')
    print('Versi Python \t:' +versi[:])

Bahasa		: Python 3
Versi Python 	:3.11.5 (tags/v3.11.5:cce6ba9, Aug 24 2023, 14:38:34) [MSC v.1936 64 bit (AMD64)]

In [50]:
#Contoh kode python
def main():
    x = float (input('Masukkan bilangan pertama\t:'))
    y = float(input ('Masukkan bilangan kedua \t:'))
    op = input('Masukkan operator(+,-,*,/)\t:')
    if op == '+':
        print('%.2f + %.2f = %.2f' % (x, y, x+y))
    elif op == '-':
        print('%.2f - %.2f = %.2f' % (x,y, x-y))
    elif op == '*':
        print( '%.2f * %.2f = %.2f' % (x,y, x*y))
    elif op == '/':
        print( '%.2f / %.2f = %.2f' % (x,y, x/y))
    else:
        print('ERROR: Gunakan operator +,-,*,/')
if __name__ =='__main__':
    main()

Masukkan bilangan pertama	: 123
Masukkan bilangan kedua 	: 23
Masukkan operator(+,-,*,/)	: /

123.00 / 23.00 = 5.35

In [51]:
#contoh Program
a = 'Python'
#menelusuri semua karakter dalam string: a
for c in a:
    print(c, end='')

Python

In [52]:
#Contoh Program
b = [ 'Python', 'Ruby', 'Perl', 'PHP']
#menelusuri semua karakter list: a
for e in b:
    print(e)

Python
Ruby
Perl
PHP

In [54]:
#contohProgram
c = {'one': 'satu','two':'dua', 'Three':'Tiga'}
#menelusuri semua elemen di dalam dictionary: c
for key in c:
    print("Arti '%s' adalah '%s'" %(key, c[key]))

Arti 'one' adalah 'satu'
Arti 'two' adalah 'dua'
Arti 'Three' adalah 'Tiga'

In [55]:
#contoh
for i in range (6):
    print(i, end='')

012345

In [56]:
#contoh
for i in range (10,22,2):
    print("%d " % i, end='')

10 12 14 16 18 20